.footerWrap{
  display: grid;
  background: var(--basic-gray);
  padding: 40px 0;
}

.footerWrap > p{
  place-self: center;
  margin: 50px;
  color: var(--basic-strong-gray);
  font-size: 12px;
  font-weight: 500;
}

.footerBackground{
  max-width: 1100px;
  width:100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* place-items: center; */

}

.footerPersonalWrap ul{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.footerPersonalWrap p{
  font-size: 14px;
  color: var(--basic-strong-gray);
}



.footerPersonal span{
  vertical-align: middle;
}

.footerPersonal svg{
  width: 20px;
  height: 20px;
}