.MainExperience{
  padding : 80px 0 ;
  display: grid;

}

.MainExperience h2{
  margin-bottom: 30px;

}

.ExperienceContentsWrap{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: center;
}




/* fornt CSS 영역 */

.experienceWrap{
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.05);
  height: fit-content;
  border: 1px solid #ededed;
  padding: 1rem;
  place-self: center;
  max-width: 450px;
  width: 100%;
  display: grid;
  gap: 3rem;
  position: relative;
  overflow: hidden;
}
/* 
.experienceWrap:not(:nth-last-of-type(1)) {
  margin-bottom: 30px;
} */

.experienceWrap::before{
  content: " ";
  display: block;
  width: 2px;
  height: 508px;
  background: var(--basic-gray);
  position: absolute;
  left: 16px;
  top : 22px;
}

.experienceItem{
  margin-left: 30px;
  position: relative;
}

.experienceItem::before{
  content: " ";
  display: block;
  background: orange;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -35px;
  top: 5px;
}

.experienceHeader{
  margin-bottom: 20px;
}

.experienceHeader > p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.experienceHeader > p .period{
  font-size: 14px;
  color: var(--basic-strong-gray);
  padding-bottom: 2px;
}

.experienceHeader > p .data{
  font-size: 12px;
  font-weight: 500;
}

.experienceBottom{
  font-size: 14px;
  letter-spacing: -0.8px;

}

.experienceBottom li{
  display: flex;
  gap: 10px;
  align-items: center;
}


.experienceBottom li::before{
  content: " ";
  display: block;
  width: 5px;
  height: 2px;
  background: var(--basic-strong-gray);
}


.experienceBottom .item:not(:nth-last-of-type(1)) {
  margin-bottom: 6px;

}







/* other experience CSS 영역 */
.OtherExperience{
  max-width: 450px;
  width: 100%;
}

.OtherExperience h4{
  margin-bottom: 20px;
  color: var(--basic-strong-gray);
}

.OtherExperienceItemWrap ul {
  display: grid;
  gap: 1rem;
}

.OtherExperienceItemWrap ul li {
  display: flex;
  
  gap: 1rem;
}


.OtherExperienceItemWrap li div {
  padding: 15px 0;
  width: 100%;
  border: 1px solid var(--basic-gray);
  border-radius: 0.8rem;
  text-align: center;

}

.OtherExperienceItemHeader{
  font-size: 18px;
  font-weight: 500;
}

.OtherExperienceItemBottom{
  font-size: 12px;
  color: var(--basic-strong-gray);
}