.experience{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 1rem;
}












/* fornt CSS 영역 */

.experienceWrap{
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.05);
  height: fit-content;
  border: 1px solid #ededed;
  padding: 1rem;
  place-self: center;
  max-width: 450px;
  width: 100%;
  display: grid;
  gap: 3rem;
  position: relative;
}

.experienceWrap::before{
  content: " ";
  display: block;
  width: 2px;
  height: 300px;
  background: var(--basic-gray);
  position: absolute;
  left: 15px;
  top : 1rem;
}

.experienceItem{
  margin-left: 30px;
  position: relative;
}

.experienceItem::before{
  content: " ";
  display: block;
  background: orange;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -35px;
}

.experienceHeader{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 20px;
}

.experienceBottom{
  font-size: 12px;

}

.experienceBottom .item:not(:nth-last-of-type(1)) {
  margin-bottom: 6px;

}